<div class="text-xl text-gray-300 font-bold">Menu</div>

<div class="navbar-verticle">
    <div class="nav-item">Dashboard</div>
    <div class="nav-item"><a href="/users">Users</a></div>
    <div class="nav-item"><a href="/servers">Servers</a></div>
    <div class="nav-item">Apps</div>
</div>